.books-container {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(221,205,205,1) 90%);
    padding: 60px 30px 40px 30px;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    color: aliceblue;
    position: relative;
    
}

.books-title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    background-color: rgba(221,205,205,1);
    color: #004853 ;

}

.books-image-container {
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.book-image {
    height: 300px;
    cursor: pointer;
}

.lista2 {
    display: none;
}

@media (max-width: 768px) {
    .lista1 {
        display: none;
    }

    .lista2 {
        display: block;
    }
    
    .books-container {
        height: fit-content;
    }

    .books-image-container {
        height: fit-content;
    }

    .book-image {
        height: 450px;
        width: auto;
    }
}