.card-container {
    display: flex;
    flex-direction: column;
    columns: 2;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: #004853;
    width: 250px;
    position: relative;
    box-shadow: 0 0 2px #004853, 0 0 5px #004853, 0 0 10px #004853;
}

.card-image {
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-author {
    font-size: 20px;
}

.add-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    width: 30px;
    background-color: rgb(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.add-icon:hover {
    background-color: rgb(0, 0, 0, 0.7);
}

.cart-icon {
    width: 30px;
}

.cart-icon:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

.notset {
    display: none;
}

