.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-top: 60px;
    color: aliceblue;
    text-align: justify;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 70%;
    height: 300px;
}

.moore-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 10px;
    width: 130px;
    height: 35px;
    background-color: #e30075;
    margin: 30px 10px 10px auto;
    transition: 0.1s;
    color: aliceblue;
    font-weight: bold;
}

.moore-button:hover {
    background-color: #fa0e9c;
}
  
.moore-button:active {
    transform: scale(1.02);
    color: aliceblue;
}

.image {
    padding-right: 30px;
    width: 40%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        width: 90%;
    }

    .image {
        width: 90%;
    }
}